[TEMPLATE_BASIC]
<div class='formAdd'>
  <input type='text' value='' placeholder="Имя или название организации" id='name'>
  <input type='text' value='' placeholder="Телефон" id='tel'>
  <textarea placeholder="Описание заявки" id='desc'></textarea>
  <button>Создать</button>
  <select id='deadline'>
    <option value=''>Срок</option>
    <option value='0'>Бессрочно</option>
    <option value='1'>1 день</option>
    <option value='2'>2 дня</option>
    <option value='3'>3 дня</option>
    <option value='4'>4 дня</option>
    <option value='5'>5 дней</option>
    <option value='6'>6 дней</option>
    <option value='7'>7 дней</option>
    <option value='8'>8 дней</option>
    <option value='9'>9 дней</option>
    <option value='10'>больше 10 дней</option>
  </select>
</div>
[/TEMPLATE_BASIC]
