[TEMPLATE_BASIC]
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/src/style.css'>
	<link rel='stylesheet' type='text/css' href='/src/css/{page}.css'>
	<script type='text/javascript' src="/src/jquery-3.6.0.min.js"></script>
	<script type='text/javascript' src="/src/scripts.js"></script>
	<script type='text/javascript' src="/src/load/{page}.js"></script>
</head>
<body>
	<header>
		<span class='title'>Компьютер+</span><span active>Заявки</span>
	</header>
	<content>{main}</content>
</body>
</html>
[/TEMPLATE_BASIC]
